
<!-- https://www.w3schools.com/bootstrap/bootstrap_ref_all_classes.asp -->
<div class="container">
<div class="row">
<div class="col-md-3">
<div class="pull-right">
<div class="pull-left">
  <span class="badge bg-green">
<div class="text-center">
<div class="clearfix">
<ul class="dropdown-menu dropdown-menu-right">
<div class="img-circle">
<ul class="dropdown-menu list-unstyled" role="menu">
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
<nav class="navbar navbar-default navbar-static-top">
<ul class="nav navbar-nav navbar-left">
<span class="glyphicon" aria-hidden="true">
<ul class="pagination">
<div class="hidden-small">
<span class="text-muted">
<div class="form-group {{ css_class }}">
<input class="form-control">
<div class="input-group">
<span class="input-group-addon">
<div class="checkbox {{ css_class }}">
<ul class="list-unstyled text-danger">

<div class="alert alert-{{ category }}" role="alert">

<li class="{{ 'disabled' if resource.page == 1 }}">
<li class="{{ 'active' if page and page == resource.page }}">

<!-- Custom -->

<div class="body">
<div class="main_container">
<span class="image">
<span class="time">
<span class="message">

<div class="left_col scroll-view">
<div class="left_col menu_fixed">
<div class="right_col" role="main">

<div class="md-margin-bottom">
<div class="sm-margin-top">


<span class="bg-green">
<ul class="field-error">
<ul class="msg_list" role="menu">
<a class="info-number" data-toggle="dropdown" aria-expanded="false">


<div class="menu_section">
<div class="main_menu_side hidden-print main_menu">

<div class="nav_menu">
<body class="nav-md">
<div class="top_nav">
<ul class="nav side-menu">
<ul class="nav child_menu">
<div class="nav toggle">
<div class="sidebar-footer hidden-small">


<a class="fa fa-home">
<a class="fa fa-bar-chart-o">
<a class="fa fa-chevron-down">
<a class="fa fa-cog">
<a class="fa fa-angle-down">
<i class="fa fa-angle-right">
<i class="fa fa-envelope-o">
<i class="fa fa-bars">
<i class="fa fa-fw fa-search">


<a data-toggle="tooltip" data-placement="top">
<span class="glyphicon-cog" aria-hidden="true">
<span class="glyphicon-fullscreen" aria-hidden="true">
<span class="glyphicon-eye-close" aria-hidden="true">
<span class="glyphicon-off" aria-hidden="true">


<div class="profile clearfix">
<div class="profile_pic">
<div class="profile_img">
<div class="profile_info">
<a class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">



